<connectionStrings>
    <!--<add name="HozestERPSqlConnection" connectionString="Data Source=10.10.11.79;Initial Catalog=CRM;User Id=sa;Password=1qaz2wsx;Connection Timeout=600000" />-->
  <add name="HozestERPSqlConnection" connectionString="Data Source=.;Initial Catalog=hozesterp;User Id=sa;Password=1qazxsw2;MultipleActiveResultSets=true;" />
</connectionStrings>
 