<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="HozestERPConfig" type="HozestERP.BusinessLogic.Configuration.HozestERPConfig, HozestERP.BusinessLogic" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="ChartImageHandler" value="storage=file;" />
		<add key="UseSSL" value="false" />
		<add key="SharedSSLUrl" value="" />
		<add key="NonSharedSSLUrl" value="" />
		<add key="GoogleMerchantID" value="" />
		<add key="GoogleMerchantKey" value="" />
		<add key="GoogleEnvironment" value="Sandbox" />
		<add key="GoogleAuthenticateCallback" value="True" />
		<add key="FCKeditor:BasePath" value="~/editors/fckeditor/" />
		<add key="FCKeditor:UserFilesPath" value="~/images/" />
		<add key="dependencyResolverTypeName" value="HozestERP.BusinessLogic.Infrastructure.UnityDependencyResolver, HozestERP.BusinessLogic" />
	</appSettings>
	<connectionStrings configSource="ConnectionStrings.config"/>
	<system.web>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
			  validate="false" />
		</httpHandlers>
		<httpRuntime maxRequestLength="51200" requestValidationMode="2.0" />
		<customErrors mode="Off" defaultRedirect="errorpage.htm">
			<error statusCode="403" redirect="bannedaddress.htm" />
			<error statusCode="404" redirect="filenotfound.htm" />
		</customErrors>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</buildProviders>
		</compilation>
		<authentication mode="Forms">
			<forms name="HozestERP.AUTH" loginUrl="~/login.aspx" protection="All" timeout="43200" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/default.aspx" enableCrossAppRedirects="false" />
		</authentication>
		<membership defaultProvider="CRMMembershipSqlProvider" userIsOnlineTimeWindow="15">
			<providers>
				<add name="CRMMembershipSqlProvider" type="HozestERP.BusinessLogic.Profile.StoreMembershipProvider, HozestERP.BusinessLogic" connectionStringName="HozestERPSqlConnection" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CRM" requiresUniqueEmail="true" enablePasswordRetrieval="true" />
			</providers>
		</membership>
		<roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="CRMRoleManagerSqlProvider" cookieName=".CRMCommerceRoles" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
			<providers>
				<add name="CRMRoleManagerSqlProvider" type="HozestERP.BusinessLogic.Profile.StoreRoleProvider, HozestERP.BusinessLogic" connectionStringName="HozestERPSqlConnection" applicationName="CRM" />
			</providers>
		</roleManager>
		<sessionState timeout="20" mode="InProc" cookieless="false" />
		<pages controlRenderingCompatibilityVersion="3.5" validateRequest="false" theme="Blue" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Collections.Generic" />
				<add namespace="HozestERP.BusinessLogic" />
				<add namespace="HozestERP.BusinessLogic.Adjusts" />
				<add namespace="HozestERP.BusinessLogic.Audit" />
				<add namespace="HozestERP.BusinessLogic.Audit.UsersOnline" />
				<add namespace="HozestERP.BusinessLogic.Configuration.Settings" />
				<add namespace="HozestERP.BusinessLogic.CustomerManagement" />
				<add namespace="HozestERP.BusinessLogic.Infrastructure" />
				<add namespace="HozestERP.BusinessLogic.Media" />
				<add namespace="HozestERP.BusinessLogic.Profile" />
				<add namespace="HozestERP.BusinessLogic.Security" />
				<add namespace="HozestERP.BusinessLogic.SEO" />
				<add namespace="HozestERP.BusinessLogic.Tasks" />
				<add namespace="HozestERP.BusinessLogic.Utils" />
				<add namespace="HozestERP.BusinessLogic.Utils.Html" />
				<add namespace="HozestERP.BusinessLogic.ManageCar" />
				<add namespace="HozestERP.BusinessLogic.ManageBooks" />
				<add namespace="HozestERP.BusinessLogic.ManageFlow" />
				<add namespace="HozestERP.BusinessLogic.ManageSpeech" />
				<add namespace="HozestERP.BusinessLogic.ManageMeeting" />
				<add namespace="HozestERP.BusinessLogic.ModuleManagement" />
				<add namespace="HozestERP.BusinessLogic.ManageShortcutMenu" />
				<add namespace="HozestERP.BusinessLogic.ManageCalendar"/>
				<add namespace="HozestERP.BusinessLogic.ManageProtal"/>
				<add namespace="HozestERP.BusinessLogic.ManageSuppliers"/>
				<add namespace="HozestERP.BusinessLogic.ManageProducts"/>
				<add  namespace="HozestERP.BusinessLogic.ManageWareHouse"/>
				<add namespace="HozestERP.BusinessLogic.ManageClient"/>
				<add namespace="HozestERP.BusinessLogic.Codes"/>
				<add namespace="HozestERP.Common" />
				<add namespace="HozestERP.Common.Utils" />
				<add namespace="HozestERP.Common.Utils.Html" />
				<add namespace="Ext.Net.Utilities" />
			</namespaces>
			<controls>
				<add tagPrefix="ext" namespace="Ext.Net" assembly="Ext.Net" />
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
				<add tagPrefix="CRM" namespace="HozestERP.Controls" assembly="HozestERP.Controls" />
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</controls>
		</pages>
		<httpModules>
			<add name="MembershipHttpModule" type="HozestERP.BusinessLogic.Profile.MembershipHttpModule, HozestERP.BusinessLogic" />
			<add name="BlacklistHttpModule" type="HozestERP.BusinessLogic.Security.BlacklistHttpModule, HozestERP.BusinessLogic" />
			<add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="MembershipHttpModule" preCondition="managedHandler" type="HozestERP.BusinessLogic.Profile.MembershipHttpModule, HozestERP.BusinessLogic" />
			<add name="BlacklistHttpModule" preCondition="managedHandler" type="HozestERP.BusinessLogic.Security.BlacklistHttpModule, HozestERP.BusinessLogic" />
		</modules>
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>
	</system.webServer>
	<HozestERPConfig>
		<SqlServer ConnectionStringName="HozestERPSqlConnection" />
		<ScheduleTasks>
			<Thread seconds="60">
				<!--do NOT enable ClearCache task if you have enabled tracking online users-->
				<task name="ClearCache" type="HozestERP.BusinessLogic.Caching.ClearCacheTask, HozestERP.BusinessLogic" enabled="false" stopOnError="false" />
				<task name="PurgeOnlineUsers" type="HozestERP.BusinessLogic.Audit.UsersOnline.PurgeOnlineUsersTask, HozestERP.BusinessLogic" enabled="true" stopOnError="false" />
				<task name="KeepAlive" type="HozestERP.BusinessLogic.Utils.KeepAliveTask, HozestERP.BusinessLogic" enabled="true" stopOnError="false" path="keepalive/ping.ashx" />
				<!--工作流流程处理服务-->
				<task name="WorkFlowTask" type="HozestERP.BusinessLogic.ManageFlow.WorkFlowTask, HozestERP.BusinessLogic" enabled="true" stopOnError="false" />
				<!--已通过车辆申请状态处理-->
				<task name="CarApplicationTask" type="HozestERP.BusinessLogic.ManageCar.CarApplicationTask, HozestERP.BusinessLogic" enabled="true" stopOnError="false" />
				<!--会议状态更新-->
				<task name="MeetingTask" type="HozestERP.BusinessLogic.ManageMeeting.MeetingTask, HozestERP.BusinessLogic" enabled="true" stopOnError="false" />
				<!--日程事务处理服务-->
				<task name="CalendarTask" type="HozestERP.BusinessLogic.ManageCalendar.CalendarTask, HozestERP.BusinessLogic" enabled="true" stopOnError="false" />
			</Thread>
			<Thread seconds="600">
				<task name="DeleteExpiredCustomerSessions" type="HozestERP.BusinessLogic.CustomerManagement.DeleteExpiredCustomerSessionsTask, HozestERP.BusinessLogic" enabled="true" stopOnError="false" deleteExpiredCustomerSessionsOlderThanMinutes="43200" />
			</Thread>
		</ScheduleTasks>
	</HozestERPConfig>
</configuration>