<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="HozestERPEntities" connectionString="metadata=res://*/Data.HozestERPModel.csdl|res://*/Data.HozestERPModel.ssdl|res://*/Data.HozestERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=HozestERP;User ID=sa;Password=1qazxsw2;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="JDsingleOrderGetSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://116.198.207.220/JDsingleOrderGet.asmx"
        binding="basicHttpBinding" bindingConfiguration="JDsingleOrderGetSoap"
        contract="JDsingleServiceReference.JDsingleOrderGetSoap" name="JDsingleOrderGetSoap" />
    </client>
  </system.serviceModel>
</configuration>